<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.naming.delieveryservice.dao.AccountDao">

  <insert id="insertAccountTransferPayment">
    INSERT INTO ACCOUNT_TRANSFER(BANK_NAME, ACCOUNT_NUM, ACCOUNT_NAME, PAYMENT_NUM)
    VALUES (#{bankName}, #{accountNum}, #{accountName}, #{paymentNum})
  </insert>

</mapper>