<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.naming.delieveryservice.dao.CardDao">

  <insert id="insertCardPayment">
    INSERT INTO CARD(CARD_TYPE, CARD_NUM, VALID_DATE, CVC_NUM, PAYMENT_NUM)
    VALUES (#{cardType}, #{cardNum}, #{validDate}, #{cvcNum}, #{paymentNum})
  </insert>

</mapper>