<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.naming.delieveryservice.dao.UserDao">

    <resultMap id="userDTO" type="me.naming.delieveryservice.dto.UserDTO">
        <result property="userNum"       column="USER_NUM" />
        <result property="userId"       column="ID" />
        <result property="password"     column="PASSWORD" />
        <result property="mobileNum"    column="MOBILE_NUM" />
        <result property="name"         column="NAME" />
        <result property="birthday"    column="BIRTHDAY" />
    </resultMap>

    <resultMap id="userInfoDTO" type="me.naming.delieveryservice.dto.UserInfoDTO">
        <result property="userNum" column="USER_NUM"/>
        <result property="userId" column="ID"/>
        <result property="mobileNum" column="MOBILE_NUM"/>
    </resultMap>

    <insert id="insertUserInfo" parameterType="me.naming.delieveryservice.dto.UserDTO">
        INSERT INTO Delievery_Service.USER_BASE(id, password, mobile_num)
        VALUES(#{userId}, #{password}, #{mobileNum})
    </insert>

    <select id="checkIdDuplicate" resultType="int">
        SELECT COUNT(id)
        FROM USER_BASE
        WHERE id = #{id}
    </select>

    <select id="userLogin" resultMap="userInfoDTO">
        SELECT USER_NUM, ID, MOBILE_NUM
        FROM USER_BASE
        WHERE id = #{id}
        AND password = #{password}
    </select>

    <select id="getUserInfo" resultMap="userDTO">
        SELECT ID, MOBILE_NUM, NAME, BIRTHDAY
        FROM USER_BASE
        WHERE ID = #{id}
    </select>

    <update id="updatePwd">
        UPDATE USER_BASE
        SET password = #{newPassword}
        WHERE id = #{id}
    </update>

    <update id="changeUserStatus">
        UPDATE USER_BASE
        SET STATUS = #{status},
        DATE_UPDATE = NOW()
        WHERE ID = #{id}
    </update>

</mapper>