<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.naming.delieveryservice.dao.UserDao">

    <insert id="insertUserInfo" parameterType="me.naming.delieveryservice.dto.UserDTO">
        INSERT INTO Delievery_Service.USER_BASE(id, password, mobile_num)
        VALUES(#{id}, #{password}, #{mobileNum})
    </insert>

    <select id="checkIdDuplicate" resultType="int">
        SELECT COUNT(id)
        FROM USER_BASE
        WHERE id = #{id}
    </select>

    <select id="userLogin" resultType="me.naming.delieveryservice.dto.UserDTO">
        SELECT PID_NUM, ID, PASSWORD, MOBILE_NUM
        FROM USER_BASE
        WHERE id = #{id}
        AND password = #{password}
    </select>
    
    <update id="updatePwd">
        UPDATE USER_BASE
        SET password = #{newPassword}
        WHERE id = #{id}
    </update>

    <update id="deleteUserInfo">
        UPDATE USER_BASE
        SET STATUS = 'DELETE',
        DATE_UPDATE = NOW()
        WHERE ID = #{id}
    </update>

</mapper>